/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes menu-arrow {
  from {
    left: -20px;
  }

  to {
    left: -16px;
  }
}

@keyframes scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes sparks-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sparks {
  opacity: 0;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  transition: fill 0.3s linear;
}

.contour {
  transition: fill 0.1s linear;
}

.card__icon-button:hover .core {
  fill: var(--like-contour, #000);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--like-contour, #000);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .core {
  fill: var(--like-main, #ff0000);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--like-main, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--like-main, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--like-main, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--like-main, #ff0000);
  transition: fill 0.3s linear 0.06s;
}

@media (prefers-reduced-motion: no-preference) {
  .like-icon.is-liked .heart {
    transform-origin: center;
    animation: scale 0.3s ease-in 0.1s 2 alternate;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .like-icon.is-liked .sparks {
    animation: sparks-opacity 0.3s ease-in 0.3s 2 alternate;
  }
}
