/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wght' var(--main-wght, 400);
  font-size: 18px;
  background-color: var(--bg-color, #FFF);
  color: var(--accent-color, #000);
  background-image: var(--bg-img);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

dialog {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
  inline-size: clamp(341px, 40vw, 357px);
  background-color: var(--bg-color, #FFF);
  border: 2px solid var(--accent-color, #000);
  color: inherit;
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  padding: 0;
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}

.dialog-form {
  display: grid;
  grid-template-columns: 39px 1fr;
  grid-template-rows: 1fr;
  margin: 32px auto 30px;
  gap: 20px;
  inline-size: 82%;
  align-items: center;
}

.dialog__img {
  justify-self: center;
}

.dialog__text {
  text-transform: uppercase;
  line-height: 150%;
  max-inline-size: clamp(198px, 70%, 234px);
  justify-self: flex-start;
}

.dialog__button {
  line-height: 90%;
  text-transform: uppercase;
  padding: 9px 0;
  margin: 0 0 32px;
  border: 2px solid var(--accent-color, #000);
  background-color: transparent;
  inline-size: 82%;
}

.header {
  margin: 102px auto 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--accent-font, fantasy);
}

.content-section {
  inline-size: var(--sc-wdth, clamp(375px, 48vw, 796px));
  background-color: var(--bg-color, #FFF);
  border: 2px solid var(--accent-color, #000);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin: clamp(120px, 2.2em, 136px) auto 20px;
}

.header__heading {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  margin-block-end: 25px;
}

.header__theme-menu {
  margin-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  opacity: 0.6;
  block-size: 2px;
  inline-size: 100%;
  background-color: var(--accent-color, #000);
  position: absolute;
  top: 100%;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: -24px;
  animation: menu-arrow 0.5s ease-in-out infinite alternate;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__heading {
  font-variation-settings: 'wght' var(--h-wght, 700);
  padding: 3px 0 3px 7px;
}

.card__img-container {
  position: relative;
}

.card__img {
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  z-index: 1;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 2;
  mix-blend-mode: hard-light;
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  opacity: 0.5;
  text-transform: uppercase;
  text-shadow:
  -1px 0 var(--lbl-shadow, #FFF),
  0 1px var(--lbl-shadow, #FFF),
  1px 0 var(--lbl-shadow, #FFF),
  0 -1px var(--lbl-shadow, #FFF);
}

@supports((text-stroke: 1px var(--lbl-shadow, #FFF)) or (-webkit-text-stroke: 1px var(--lbl-shadow, #FFF))) {
  .card__label {
      -webkit-text-stroke: 1px var(--lbl-shadow, #FFF);
      text-stroke: 1px var(--lbl-shadow, #FFF);
      text-shadow: none;
  }
}

.card__text {
  margin: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__buttons {
  align-self: flex-end;
  margin: 0 25px 25px 0;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.card__icon-button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  block-size: 39px;
  inline-size: 42px;
  border: 2px solid transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color, #000);
  transition: border 0.3s ease;
}

.like-icon {
  inline-size: 39px;
  block-size: 36px;
}

.sparks {
  opacity: 0;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  transition: fill 0.3s linear;
}

.contour {
  transition: fill 0.1s linear;
}

.card__icon-button:hover .core {
  fill: var(--like-contour, #000);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--like-contour, #000);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .core {
  fill: var(--like-main, #FF0000);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--like-main, #FF0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--like-main, #FF0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--like-main, #FF0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--like-main, #FF0000);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: scale 0.3s ease-in 0.1s alternate;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity 0.3s ease-in 0.3s alternate;
}

.card__like-button {
  min-inline-size: 130px;
  background-color: transparent;
  border: 2px solid var(--accent-color, #000);
  padding: 9px 17px;
  block-size: 39px;
}

.card__like-button, .footer__button {
  position: relative;
}

.card__like-button:focus, .footer__button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color, #000);
  transition: box-shadow 0.3s ease;
}

.card__like-button::after, .footer__button::after {
  content: "";
  inline-size: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  color: var(--bg-color, #FFF);
  background-color: var(--bg-color, #FFF);
  mix-blend-mode: difference;
  transform: scaleX(0);
  transform-origin: left;
}

.card__like-button:hover::after, .footer__button:hover::after {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
}

.button__text {
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  position: relative;
}

.footer {
  margin: 54px 0 105px;
  background-color: var(--bg-color, #FFF);
  inline-size: clamp(306px, 23vw, 335px);
  min-block-size: 48px;
}

.footer__button {
  inline-size: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 21px 1fr;
  gap: 8px;
  background-color: transparent;
  color: var(--accent-color, #000);
  border: 2px solid var(--accent-color, #000);
  padding: 11.5px 17px;
}

.footer__button-img {
  position: relative;
}

@media (width <= 375px) {
  .content-section {
    inline-size: 100vw;
  }

  .main {
    gap: 50px;
  }

  .footer {
    padding-block-end: 102px;
  }

  .footer__button {
    flex-direction: column;
  }
}
