/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
  --main-wght: 400;
  --h-wght: 700;
  --bg-color: #FFF;
  --accent-color: #000;
  --bg-img: repeating-linear-gradient(-90deg, #d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px), repeating-linear-gradient(#d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px), linear-gradient(#e7e7e7 0 0.01%, #1a1a1a);
  --lbl-shadow: #FFF;
}

.theme-light .page {
  font-variation-settings: 'wght' var(--main-wght, 400);
  background-color: var(--bg-color, #FFF);
  color: var(--accent-color, #000);
  background-image: var(--bg-img);
}

.theme-light .content-section, dialog {
  background-color: var(--bg-color, #FFF);
  border: 2px solid var(--accent-color, #000);
}

.theme-light .dialog__button {
  border: 2px solid var(--accent-color, #000);
}

.theme-light .card__label {
  text-shadow:
  -1px 0 var(--lbl-shadow, #FFF),
  0 1px var(--lbl-shadow, #FFF),
  1px 0 var(--lbl-shadow, #FFF),
  0 -1px var(--lbl-shadow, #FFF);
}

@supports((text-stroke: 1px var(--lbl-shadow, #FFF)) or (-webkit-text-stroke: 1px var(--lbl-shadow, #FFF))) {
  .theme-light .card__label {
      -webkit-text-stroke: 1px var(--lbl-shadow, #FFF);
      text-stroke: 1px var(--lbl-shadow, #FFF);
      text-shadow: none;
  }
}

.theme-light .card__like-button {
  border: 2px solid var(--accent-color, #000);
}

.theme-light .theme-menu__button:focus-visible::after {
  background-color: var(--accent-color, #000);
}

.theme-light .footer__button {
  background-color: var(--bg-color, #FFF);
  border: 2px solid var(--accent-color, #000);
}

:root.theme-dark {
  --main-wght: 465;
  --h-wght: 785;
  --bg-color: #000;
  --accent-color: #00CC14;
  --bg-img: repeating-linear-gradient(-90deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px), repeating-linear-gradient(#000 0 2px, rgb(0 0 0 / 0) 2px 4px), linear-gradient(#007f0c, #004306);
  --lbl-shadow: #000;
}

.theme-dark .page {
  font-variation-settings: 'wght' var(--main-wght, 465);
  background-color: var(--bg-color, #000);
  color: var(--accent-color, #00CC14);
  background-image: var(--bg-img);
}

.theme-dark .content-section, dialog {
  background-color: var(--bg-color, #000);
  border: 2px solid var(--accent-color, #00CC14);
}

.theme-dark .dialog__button {
  border: 2px solid var(--accent-color, #00CC14);
}

.theme-dark .card__label {
  text-shadow:
  -1px 0 var(--lbl-shadow, #000),
  0 1px var(--lbl-shadow, #000),
  1px 0 var(--lbl-shadow, #000),
  0 -1px var(--lbl-shadow, #000);
}

@supports((text-stroke: 1px var(--lbl-shadow, #000)) or (-webkit-text-stroke: 1px var(--lbl-shadow, #000))) {
  .theme-dark .card__label {
      -webkit-text-stroke: 1px var(--lbl-shadow, #000);
      text-stroke: 1px var(--lbl-shadow, #000);
      text-shadow: none;
  }
}

.theme-dark .card__like-button {
  border: 2px solid var(--accent-color, #00CC14);
}

.theme-dark .theme-menu__button:focus-visible::after {
  background-color: var(--accent-color, #00CC14);
}

.theme-dark .footer__button {
  background-color: var(--bg-color, #000);
  border: 2px solid var(--accent-color, #00CC14);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-wght: 400;
    --h-wght: 700;
    --bg-color: #FFF;
    --accent-color: #000;
    --bg-img: repeating-linear-gradient(-90deg, #d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px), repeating-linear-gradient(#d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px), linear-gradient(#e7e7e7 0 0.01%, #1a1a1a);
    --lbl-shadow: #FFF;
  }

  .page {
    font-variation-settings: 'wght' var(--main-wght, 400);
    background-color: var(--bg-color, #FFF);
    color: var(--accent-color, #000);
    background-image: var(--bg-img);
  }

  .content-section, dialog {
    background-color: var(--bg-color, #FFF);
    border: 2px solid var(--accent-color, #000);
  }

  .card__label {
    text-shadow:
    -1px 0 var(--lbl-shadow, #FFF),
    0 1px var(--lbl-shadow, #FFF),
    1px 0 var(--lbl-shadow, #FFF),
    0 -1px var(--lbl-shadow, #FFF);
  }

  @supports((text-stroke: 1px var(--lbl-shadow, #FFF)) or (-webkit-text-stroke: 1px var(--lbl-shadow, #FFF))) {
    .card__label {
        -webkit-text-stroke: 1px var(--lbl-shadow, #FFF);
        text-stroke: 1px var(--lbl-shadow, #FFF);
        text-shadow: none;
    }
  }

  .dialog__button {
    border: 2px solid var(--accent-color, #000);
  }

  .card__like-button {
    border: 2px solid var(--accent-color, #000);
  }

  .theme-menu__button:focus-visible::after {
    background-color: var(--accent-color, #000);
  }

  .footer__button {
    background-color: var(--bg-color, #FFF);
    border: 2px solid var(--accent-color, #000);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-wght: 465;
    --h-wght: 785;
    --bg-color: #000;
    --accent-color: #00CC14;
    --bg-img: repeating-linear-gradient(-90deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px), repeating-linear-gradient(#000 0 2px, rgb(0 0 0 / 0) 2px 4px), linear-gradient(#007f0c, #004306);
    --lbl-shadow: #000;
  }

    .page {
      font-variation-settings: 'wght' var(--main-wght, 465);
      background-color: var(--bg-color, #000);
      color: var(--accent-color, #00CC14);
      background-image: var(--bg-img);
    }

    .content-section, dialog {
      background-color: var(--bg-color, #000);
      border: 2px solid var(--accent-color, #00CC14);
    }

    .dialog__button {
      border: 2px solid var(--accent-color, #00CC14);
    }

    .card__label {
      text-shadow:
      -1px 0 var(--lbl-shadow, #000),
      0 1px var(--lbl-shadow, #000),
      1px 0 var(--lbl-shadow, #000),
      0 -1px var(--lbl-shadow, #000);
    }

    @supports((text-stroke: 1px var(--lbl-shadow, #000)) or (-webkit-text-stroke: 1px var(--lbl-shadow, #000))) {
      .theme-dark .card__label {
          -webkit-text-stroke: 1px var(--lbl-shadow, #000);
          text-stroke: 1px var(--lbl-shadow, #000);
          text-shadow: none;
      }
    }

    .card__like-button {
      border: 2px solid var(--accent-color, #00CC14);
    }

    .theme-menu__button:focus-visible::after {
      background-color: var(--accent-color, #00CC14);
    }

    .footer__button {
      background-color: var(--bg-color, #000);
      border: 2px solid var(--accent-color, #00CC14);
    }
}

