/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
  --main-wght: 400;
  --h-wght: 700;
  --bg-color: #fff;
  --accent-color: #000;
  --bg-img: repeating-linear-gradient(
      -90deg,
      #d3d3d3 0 2px,
      rgb(211 211 211 / 0) 2px 4px
    ),
    repeating-linear-gradient(#d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px),
    linear-gradient(#e7e7e7 0 0.01%, #1a1a1a);
  --lbl-shadow: #fff;
  --btn-pseudo-text: #fff;
  --like-contour: #000;
}

.theme-light .page {
  color: var(--accent-color, #000);
  background-color: var(--bg-color, #fff);
  background-image: var(--bg-img);
  font-variation-settings: "wght" var(--main-wght, 400);
}

.theme-light .content-section,
.theme-light dialog {
  border: 2px solid var(--accent-color, #000);
  background-color: var(--bg-color, #fff);
}

.theme-light .dialog__button {
  border: 2px solid var(--accent-color, #000);
}

.theme-light .card__label {
  text-shadow: -1px 0 var(--lbl-shadow, #fff), 0 1px var(--lbl-shadow, #fff),
    1px 0 var(--lbl-shadow, #fff), 0 -1px var(--lbl-shadow, #fff);
}

@supports (
  (text-stroke: 1px var(--lbl-shadow, #fff)) or
    (-webkit-text-stroke: 1px var(--lbl-shadow, #fff))
) {
  .theme-light .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--lbl-shadow, #fff);
    text-stroke: 1px var(--lbl-shadow, #fff);
  }
}

.theme-light .card__icon-button:focus-visible {
  border: 2px solid var(--accent-color, #000);
}

.theme-light .card__like-button {
  border: 2px solid var(--accent-color, #000);
}

.theme-light .theme-menu__button:focus-visible::after {
  background-color: var(--accent-color, #000);
}

.theme-light .card__icon-button:hover .core {
  fill: var(--like-contour, #000);
}

.theme-light .card__icon-button:hover .main-body {
  fill: var(--like-contour, #000);
}

.theme-light .card__like-button:focus,
.theme-light .footer__button:focus,
.theme-light .dialog__button:focus {
  box-shadow: 2px 2px 0 var(--accent-color, #000);
}

.theme-light .card__like-button::after,
.theme-light .footer__button::after,
.theme-light .dialog__button::after {
  color: var(--btn-pseudo-text, #fff);
  background-color: var(--bg-color, #fff);
}

.theme-light .footer__button {
  border: 2px solid var(--accent-color, #000);
  color: var(--accent-color, #000);
}

.theme-light .footer {
  background-color: var(--bg-color, #fff);
}

:root.theme-dark {
  --main-wght: 465;
  --h-wght: 785;
  --bg-color: #000;
  --accent-color: #00cc14;
  --bg-img: repeating-linear-gradient(
      -90deg,
      #000 0 2px,
      rgb(0 0 0 / 0) 2px 4px
    ),
    repeating-linear-gradient(#000 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(#007f0c, #004306);
  --lbl-shadow: #000;
  --btn-pseudo-text: #00cc14;
  --like-contour: #00cc14;
}

.theme-dark .page {
  color: var(--accent-color, #00cc14);
  background-color: var(--bg-color, #000);
  background-image: var(--bg-img);
  font-variation-settings: "wght" var(--main-wght, 465);
}

.theme-dark .content-section,
.theme-dark dialog {
  border: 2px solid var(--accent-color, #00cc14);
  background-color: var(--bg-color, #000);
}

.theme-dark .dialog__button {
  border: 2px solid var(--accent-color, #00cc14);
}

.theme-dark .card__label {
  text-shadow: -1px 0 var(--lbl-shadow, #000), 0 1px var(--lbl-shadow, #000),
    1px 0 var(--lbl-shadow, #000), 0 -1px var(--lbl-shadow, #000);
}

@supports (
  (text-stroke: 1px var(--lbl-shadow, #000)) or
    (-webkit-text-stroke: 1px var(--lbl-shadow, #000))
) {
  .theme-dark .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--lbl-shadow, #000);
    text-stroke: 1px var(--lbl-shadow, #000);
  }
}

.theme-dark .card__icon-button:focus-visible {
  border: 2px solid var(--accent-color, #00cc14);
}

.theme-dark .card__icon-button:hover .core {
  fill: var(--like-contour, #00cc14);
}

.theme-dark .card__icon-button:hover .main-body {
  fill: var(--like-contour, #00cc14);
}

.theme-dark .card__like-button {
  border: 2px solid var(--accent-color, #00cc14);
}

.theme-dark .theme-menu__button:focus-visible::after {
  background-color: var(--accent-color, #00cc14);
}

.theme-dark .card__like-button:focus,
.theme-dark .footer__button:focus {
  box-shadow: 2px 2px 0 var(--accent-color, #00cc14);
}

.theme-dark .card__like-button::after,
.theme-dark .footer__button::after,
.theme-dark .dialog__button::after {
  color: var(--btn-pseudo-text, #00cc14);
  background-color: var(--accent-color, #00cc14);
}

.theme-dark .footer {
  background-color: var(--bg-color, #000);
}

.theme-dark .footer__button {
  border: 2px solid var(--accent-color, #00cc14);
  color: var(--accent-color, #00cc14);
}

@media (prefers-color-scheme: light) {
  @supports (
    (text-stroke: 1px var(--lbl-shadow, #fff)) or
      (-webkit-text-stroke: 1px var(--lbl-shadow, #fff))
  ) {
    .card__label {
      text-shadow: none;
      -webkit-text-stroke: 1px var(--lbl-shadow, #fff);
      text-stroke: 1px var(--lbl-shadow, #fff);
    }
  }

  :root {
    --main-wght: 400;
    --h-wght: 700;
    --bg-color: #fff;
    --accent-color: #000;
    --bg-img: repeating-linear-gradient(
        -90deg,
        #d3d3d3 0 2px,
        rgb(211 211 211 / 0) 2px 4px
      ),
      repeating-linear-gradient(#d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px),
      linear-gradient(#e7e7e7 0 0.01%, #1a1a1a);
    --lbl-shadow: #fff;
    --btn-pseudo-text: #fff;
    --like-contour: #000;
  }

  .page {
    color: var(--accent-color, #000);
    background-color: var(--bg-color, #fff);
    background-image: var(--bg-img);
    font-variation-settings: "wght" var(--main-wght, 400);
  }

  .content-section,
  dialog {
    border: 2px solid var(--accent-color, #000);
    background-color: var(--bg-color, #fff);
  }

  .card__label {
    text-shadow: -1px 0 var(--lbl-shadow, #fff), 0 1px var(--lbl-shadow, #fff),
      1px 0 var(--lbl-shadow, #fff), 0 -1px var(--lbl-shadow, #fff);
  }

  .dialog__button {
    border: 2px solid var(--accent-color, #000);
  }

  .card__icon-button:focus-visible {
    border: 2px solid var(--accent-color, #000);
  }

  .card__like-button {
    border: 2px solid var(--accent-color, #000);
  }

  .theme-menu__button:focus-visible::after {
    background-color: var(--accent-color, #000);
  }

  .card__like-button:focus,
  .footer__button:focus,
  .dialog__button:focus {
    box-shadow: 2px 2px 0 var(--accent-color, #000);
  }

  .card__like-button::after {
    color: var(--btn-pseudo-text, #fff);
    background-color: var(--bg-color, #fff);
  }

  .card__icon-button:hover .core {
    fill: var(--like-contour, #000);
  }

  .card__icon-button:hover .main-body {
    fill: var(--like-contour, #000);
  }

  .footer__button::after {
    color: var(--btn-pseudo-text, #fff);
    background-color: var(--bg-color, #fff);
  }

  .footer {
    background-color: var(--bg-color, #fff);
  }

  .footer__button {
    border: 2px solid var(--accent-color, #000);
    color: var(--accent-color, #000);
  }
}

@media (prefers-color-scheme: dark) {
  @supports (
    (text-stroke: 1px var(--lbl-shadow, #000)) or
      (-webkit-text-stroke: 1px var(--lbl-shadow, #000))
  ) {
    .theme-dark .card__label {
      text-shadow: none;
      -webkit-text-stroke: 1px var(--lbl-shadow, #000);
      text-stroke: 1px var(--lbl-shadow, #000);
    }
  }

  :root {
    --main-wght: 465;
    --h-wght: 785;
    --bg-color: #000;
    --accent-color: #00cc14;
    --bg-img: repeating-linear-gradient(
        -90deg,
        #000 0 2px,
        rgb(0 0 0 / 0) 2px 4px
      ),
      repeating-linear-gradient(#000 0 2px, rgb(0 0 0 / 0) 2px 4px),
      linear-gradient(#007f0c, #004306);
    --lbl-shadow: #000;
    --btn-pseudo-text: #00cc14;
    --like-contour: #00cc14;
  }

  .page {
    color: var(--accent-color, #00cc14);
    background-color: var(--bg-color, #000);
    background-image: var(--bg-img);
    font-variation-settings: "wght" var(--main-wght, 465);
  }

  .content-section,
  dialog {
    border: 2px solid var(--accent-color, #00cc14);
    background-color: var(--bg-color, #000);
  }

  .dialog__button {
    border: 2px solid var(--accent-color, #00cc14);
  }

  .card__label {
    text-shadow: -1px 0 var(--lbl-shadow, #000), 0 1px var(--lbl-shadow, #000),
      1px 0 var(--lbl-shadow, #000), 0 -1px var(--lbl-shadow, #000);
  }

  .card__icon-button:focus-visible {
    border: 2px solid var(--accent-color, #00cc14);
  }

  .card__like-button {
    border: 2px solid var(--accent-color, #00cc14);
  }

  .theme-menu__button:focus-visible::after {
    background-color: var(--accent-color, #00cc14);
  }

  .card__icon-button:hover .core {
    fill: var(--like-contour, #00cc14);
  }

  .card__icon-button:hover .main-body {
    fill: var(--like-contour, #00cc14);
  }

  .card__like-button:focus,
  .footer__button:focus,
  .dialog__button:focus {
    box-shadow: 2px 2px 0 var(--accent-color, #00cc14);
  }

  .card__like-button::after,
  .footer__button::after,
  .dialog__button::after {
    color: var(--btn-pseudo-text, #00cc14);
    background-color: var(--accent-color, #00cc14);
  }

  .footer {
    background-color: var(--bg-color, #000);
  }

  .footer__button {
    border: 2px solid var(--accent-color, #00cc14);
    color: var(--accent-color, #00cc14);
  }
}
