/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
  --main-wght: 400;
  --h-wght: 700;
  --bg-color: #FFF;
  --accent-color: #000;
  --bg-img: repeating-linear-gradient(-90deg, #d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px), repeating-linear-gradient(#d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px), linear-gradient(#e7e7e7 0 0.01%, #1a1a1a);
}

.theme-light .page {
  font-variation-settings: 'wght' var(--main-wght, 400);
  background-color: var(--bg-color, #FFF);
  color: var(--accent-color, #000);
  background-image: var(--bg-img);
}

.theme-light .content-section {
  background-color: var(--bg-color, #FFF);
  border: 2px solid var(--accent-color, #000);
}

:root.theme-dark {
  --main-wght: 465;
  --h-wght: 785;
  --bg-color: #000;
  --accent-color: #00CC14;
  --bg-img: repeating-linear-gradient(-90deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px), repeating-linear-gradient(#000 0 2px, rgb(0 0 0 / 0) 2px 4px), linear-gradient(#007f0c, #004306);
}

.theme-dark .page {
  font-variation-settings: 'wght' var(--main-wght, 465);
  background-color: var(--bg-color, #000);
  color: var(--accent-color, #00CC14);
  background-image: var(--bg-img);
}

.theme-dark .content-section {
  background-color: var(--bg-color, #000);
  border: 2px solid var(--accent-color, #00CC14);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-wght: 400;
    --h-wght: 700;
    --bg-color: #FFF;
    --accent-color: #000;
    --bg-img: repeating-linear-gradient(-90deg, #d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px), repeating-linear-gradient(#d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px), linear-gradient(#e7e7e7 0 0.01%, #1a1a1a);
  }

  .page {
    font-variation-settings: 'wght' var(--main-wght, 400);
    background-color: var(--bg-color, #FFF);
    color: var(--accent-color, #000);
    background-image: var(--bg-img);
  }

  .content-section {
    background-color: var(--bg-color, #FFF);
    border: 2px solid var(--accent-color, #000);
  }
} 

@media (prefers-color-scheme: dark) {
  :root {
    --main-wght: 465;
    --h-wght: 785;
    --bg-color: #000;
    --accent-color: #00CC14;
    --bg-img: repeating-linear-gradient(-90deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px), repeating-linear-gradient(#000 0 2px, rgb(0 0 0 / 0) 2px 4px), linear-gradient(#007f0c, #004306);
  }

    .page {
      font-variation-settings: 'wght' var(--main-wght, 465);
      background-color: var(--bg-color, #000);
      color: var(--accent-color, #00CC14);
      background-image: var(--bg-img);
    }

    .content-section {
      background-color: var(--bg-color, #000);
      border: 2px solid var(--accent-color, #00CC14);
    }
} 

