/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: Inter-Variable;
  --accent-font: PressStart2P;
  --main-wght: 400;
  --h-wght: 700;
  --bg-color: #FFF;
  --accent-color: #000;
  --bg-img: repeating-linear-gradient(-90deg, #d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px), repeating-linear-gradient(#d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px), linear-gradient(#e7e7e7 0 0.01%, #1a1a1a);
  --sc-wdth: clamp(375px, 48vw, 796px);
}